[submodule "variant_annotation/configs/snakemake_profile"]
	path = variant_annotation/configs/snakemake_profile
	url = git@gitlab.rc.uab.edu:center-for-computational-genomics-and-data-science/sciops/pipelines/small_variant_caller_pipeline.git
[submodule "variant_annotation/configs/snakemake_slurm_profile"]
	path = variant_annotation/configs/snakemake_slurm_profile
	url = git@gitlab.rc.uab.edu:center-for-computational-genomics-and-data-science/sciops/external-projects/snakemake_slurm_profile.git
