conda {
    enabled = true
    cacheDir = '/nextflow/nextflow-conda-env-cache/'
}

// Define the Scratch directory
def scratch_dir = System.getenv("USER_SCRATCH") ?: "/tmp"

params {
    config_profile_name = 'cheaha'
    config_profile_description = 'University of Alabama at Birmingham Cheaha HPC'
    config_profile_contact = 'Tarun Mamidi (tmamidi@uab.edu)'
}

env {
    TMPDIR="$scratch_dir"
    SINGULARITY_TMPDIR="$scratch_dir"
}

process {
    executor = 'slurm'

    withName: runOC {
        cpus = 2
        memory = 10.GB
        time = 2.h
        queue = 'amd-hdr100'
        //clusterOptions = '--reservation=wortheylab'
    }
    withName: parseAnnotation {
        cpus = 1
        memory = 4.GB
        time = 5.h
        queue = 'amd-hdr100'
    }
    withName: prediction {
        cpus = 1
        memory = 40.GB
        time = 10.h
        queue = 'amd-hdr100'
    }

    errorStrategy = 'retry'
    maxRetries = 2
}

params {
    max_memory = 3072.GB
    max_cpus = 264
}

// https://www.nextflow.io/docs/latest/config.html#scope-executor
executor {
    name = 'slurm'
    submitRateLimit = '10/1sec'
    pollInterval = '120 sec'

    queueSize = 200
}

// cleanup = 'eager'
