// nextflow.config

// Define the resource requirements for each process
process {
  // Resource requirements for the 'extractFromVCF' process
  extractFromVCF {
    // Replace 'partition_name' and 'mem_in_GB' with the desired Slurm partition and memory for this process
    // For example, partition_name = 'batch', mem_in_GB = 8G
    // Modify these values based on your requirements.
    clusterOptions = "-p express --mem=1G"
  }

  // Resource requirements for the 'runOC' process
  runOC {
    // Replace 'partition_name' and 'mem_in_GB' with the desired Slurm partition and memory for this process
    clusterOptions = "-p medium --mem=75G"
  }

  // Resource requirements for the 'parseAnnotation' process
  parseAnnotation {
    // Replace 'partition_name' and 'mem_in_GB' with the desired Slurm partition and memory for this process
    clusterOptions = "-p express --mem=1G"
  }

  // Resource requirements for the 'prediction' process
  prediction {
    // Replace 'partition_name' and 'mem_in_GB' with the desired Slurm partition and memory for this process
    clusterOptions = "-p express --mem=10G"
  }
}
